.all-gear-container {
  display: flex;
  justify-content: center;
  max-height: 78vh;
  /* background-color: rgba(1, 200, 200, 0.1); */
  overflow: scroll;
  margin-top: -30px;
}

.all-gear {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 95%;
}

.gear-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .all-gear {
    justify-content: start;
  }
  .gear-container {
    flex-basis: 50%;
  }
}

.gear-item-pos {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gear-texts {
  width: 100%;
  flex-wrap: wrap;
}

.gear-item-style {
  color: #b6b6b6;
  font-size: 0.8rem;
  width: 80%;
}

.gear-item-image {
  width: 100%;
  margin-bottom: 0.25rem;
}

.gear-item-name-style {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 0.25rem;
}
