.all-gear {
  position: relative;
  z-index: -1;
}

.gearItem-pos {
  margin: 2rem 0 0 0;
}

.gearItem-style {
  background-color: rgba(230, 252, 72, 1);
}

.gearItemName-style {
  font-size: 1.1rem;
}
