.filter-box {
  z-index: 100011;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: rgba(163, 167, 138, 0.95);
  border: none;
  z-index: 10;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  font-size: 2rem;
  line-height: 3;
  font-family: Quantico;
  margin-top: -3px;
  color: white;
  z-index: 5;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.menu-btn {
  position: relative;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transition: background-color 1.5s ease;
  z-index: 10;
}

.menu-btn-burger {
  width: 35px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-11px);
}

.menu-btn-burger::after {
  transform: translateY(11px);
}

/* ANIMATION */
.menu-btn-open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn-open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn-open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

select {
  cursor: pointer;
  border: 0;
  outline: none;
}

option:hover {
  background-color: rgb(136, 136, 136);
}

select:focus {
  background-color: gray;
  outline: none;
}
