.filter-menu {
  position: absolute;
  width: 100%;
  /* min-height: 250px; */
  background-color: rgba(163, 167, 138, 0.95);
  border: none;
  z-index: 0;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  font-size: 2rem;
  line-height: 10; /* TODO: space out the lines slightly */
  font-family: Quantico;
  margin-top: -3px;
  color: white;
}

.menu-btn {
  position: relative;
  margin-left: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transition: background-color 1.5s ease;
}

.menu-btn-burger {
  width: 50px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-16px);
}

.menu-btn-burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn-open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn-open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn-open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

select {
  cursor: pointer;
  border: 0;
  outline: none;
}

option:hover {
  background-color: rgb(136, 136, 136);
}

select:focus {
  background-color: gray;
  outline: none;
}

.about-test {
  margin-top: 10rem;
  height: 100px;
  width: 100px;
  background-color: pink;
}
