.header-pos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /* padding: 0 1rem; */
  box-sizing: border-box;
}

.title-style {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #a3a78a;
  color: white;
  font-size: 2em;
}

.filter-dropdown {
  display: flex;
  justify-content: flex-start;
}

.filter-wrapper {
  /* background-color: aqua; */
}

.sort-dropdown {
  display: flex;
  justify-content: flex-end;
}

.sort-wrapper {
  /* background-color: pink; */
  display: flex;
  justify-content: flex-end;
}
