.sort-menu {
  width: 250px;
  margin: 30px auto;
  margin-right: 20px;
  border: solid;
  border-color: rgba(163, 167, 138, 1);
  color: rgba(163, 167, 138, 1);
  font-size: 0.6em;
  display: block;
  cursor: pointer;
  font-family: Quantico;
  background-color: white;
}

/* select {
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: red;
} */

select:focus {
  background-color: gray;
  outline: none;
}

option:hover {
  background-color: rgb(136, 136, 136);
}

@media only screen and (max-width: 500px) {
  .sort-menu {
    width: 76.5vw;
    margin-right: 0;
  }
}
