.sort-menu {
  width: 250px;
  font-family: Quantico;
  background: #d9d9d9;
  margin: 30px auto;
  border: solid;
  border-color: rgba(163, 167, 138, 1);
  color: rgba(163, 167, 138, 1);
  background-color: white;
  font-size: 0.6em;
  cursor: pointer;
  display: block;
}
