/* .sort-box {
  position: absolute;
  width: 70%;
  left: 0px;
  margin-right: 50px;
}

.sort-menu {
  display: flex;
  width: 80%;

  background-color: rgba(163, 167, 138, 0.95);
  border: none;
  z-index: 0;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  font-size: 1.5rem;
  line-height: 4;
  font-family: Quantico;
  margin-top: -2px;
  color: rgb(142, 7, 7);
  cursor: pointer;
}

.sortOption {
  display: flex;
  justify-content: flex-end;
}
*/
.sortClosed {
  position: absolute;

  margin-right: 50px;
  height: 100px;
  width: 100px;
  background-color: orange;
  z-index: 5;
}

.sort-svg {
  cursor: pointer;
}
