.form-box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 1rem;
}

.send-button {
  margin-top: 2rem;
  height: 30px;
  background-color: rgba(163, 167, 138, 1);
  color: white;
  border: none;
  font-family: Quantico, sans-serif;
  border-radius: 3px;
}
